@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');
body {
   font-family: "Open Sans", sans-serif;
   background-color: #f8f1f1;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 30px 100px;
}

#left {
    display: block;
    background-color: hsl(315, 5%, 83%);
    width: 25%;
    padding: 20px;
    border-radius: 18px;
}

.hero {
    width: 45%;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.8;
    padding: 35px 30px;
    border-radius: 18px;
    background-image: linear-gradient(
        rgba(18, 29, 49, 0.55),
        rgba(18, 29, 49, 0.55) 
        ),
 url('https://images.unsplash.com/photo-1552664730-d307ca884978?auto=format&fit=crop&w=1200&q=80');
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);   
}

.hero p {
    margin: 8px 0;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6;
}

#right {
    display: block;
    background-color: hsl(315, 5%, 83%);
    width: 30%;
    margin:0 auto;
    text-align: center;
    border-radius: 20px;
}

nav> ul {
    display: flex;
    justify-content: flex-end;
    margin: 50px 100px;
}

.btn {
    display: block;
    background-color: hsl(324, 8%, 76%);
    text-align: center;
    font-size: 16px;
    border: none;
}

.nav-link {
    list-style: none;
    margin: 2px 5px;
    padding: 8px 15px;
}

btn:hover {
    background-color: hsl(324, 8%, 66%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

input[type=text], input[type=email] {
    padding: 2px 2px;
    margin: 4px 0;
    border: none;
    border-bottom: 2px solid hwb(300 38% 54%);
}

/*Applying transitions*/
div {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: green;
    animation-name: color-changer;
    animation-duration: 4s;
    
    /*Delay animation start for 2 seconds*/
    animation-delay: 2s;

    /*Loop animation 3 times */
    animation-iteration-count:3;

    /*Play animation backwards */
    animation-direction: reverse;

     /*Play animation at same speed through out */
    animation-timing-function: linear;
    
     /*If animation is not available, display end state*/
    animation-fill-mode: backwards;
}

div:hover {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

@keyframes color-changer {
    from {background-color: green;}
    to {background-color: blueviolet;}
}

@keyframes color-changer {
    0%   {background-color: green;}
    25%  {background-color: blue;}
    50%  {background-color: yellow;}
    75%  {background-color: orange;}
    100% {background-color: red;}
}

